---
import NavBar from '@/components/react/nav-bar';
import MainSection from '@/components/ui/main-section.astro';
import StatsSection from '@/components/ui/stats-section.astro';
import ServicesSection from '@/components/ui/services-section.astro';
import Main from '@/layouts/main.astro';
import PricingSection from '@/components/ui/pricing-section.astro';
import BlogSection from '@/components/ui/blog-section.astro';
import Footer from '@/components/ui/footer.astro';
---

<Main content={{ title: 'Home' }}>
  <NavBar client:load />
  <MainSection />
  <StatsSection />
  <ServicesSection />
  <PricingSection />
  <BlogSection />
  <Footer />
</Main>
